[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
html5lib = "1.1"
requests = "2.31.0"
beautifulsoup4 = "4.12.3"
pymysql = "*"
python-dotenv = "*"
flask = "*"
importlib-metadata = "*"
flask-restful = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3"

[scripts]
dev = "python run.py --debug"
scrape = "python scrape.py"
db_test = "python server/database/test_db_conn.py"
